@model Quiz.Web.Areas.Quiz.Models.QuizTakingCompleteViewModel

@{
    ViewBag.Title = Model.QuizItemName + " complete!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Well done @Model.ParticipantName!</h4>
        <hr />
        
        <!--TODO: Calculate score aync via js api call -->
        <p class="text-success">Your score: ???</p>
        
        <!--TODO: Wait for diploma generation and then display link and image, via js api call -->
        <a href=""><img src="" alt="Your diploma" /></a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
